{% extends 'base.html' %}
{% block conteudo %}
<div class="breadcrumbs">
    <div class="col-sm-4 col-xs-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Painel</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8 col-xs-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li class="active"><a id="button-add" data-toggle="modal" data-target="#mediumModal" href=""><span class="ti-plus"></span></a></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="content mt-3">
            <!--
            <div class="col-sm-12">
                <div class="alert  alert-success alert-dismissible fade show" role="alert">
                  <span class="badge badge-pill badge-success">Success</span> You successfully read this important alert message.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            -->

           <div class="col-md-12">
                <div class="col-md-3">
                    <div class="card text-white bg-flat-color-1">
                        <div class="card-body pb-0">
                            <div class="dropdown float-right">
                                <button class="btn bg-transparent dropdown-toggle theme-toggle text-light" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                                    <i class="fa fa-cog"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <div class="dropdown-menu-content">
                                        <a class="dropdown-item" href="#">Atendido</a>
                                        <a class="dropdown-item" href="#">Cancelar</a>
                                    </div>
                                </div>
                            </div>
                            <h4 class="mb-0">
                                <span>Pedido </span><span class="count">1</span>
                            </h4>
                            <p class="text-light">Lucas - Mesa 01</p>

                            <div class="chart-wrapper px-0" style="height:70px;text-align: center;" height="70">
                                <a class="details-order" href="#">
                                    <button type="button" class="btn btn-secondary mb-1" data-toggle="modal" data-target="#smallmodal">
                                        <span>Detalhes do pedido</span>
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card text-white bg-flat-color-2">
                        <div class="card-body pb-0">
                            <div class="dropdown float-right">
                                <button class="btn bg-transparent dropdown-toggle theme-toggle text-light" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                                    <i class="fa fa-cog"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <div class="dropdown-menu-content">
                                        <a class="dropdown-item" href="#">Atendido</a>
                                        <a class="dropdown-item" href="#">Cancelar</a>
                                    </div>
                                </div>
                            </div>
                            <h4 class="mb-0">
                                <span>Pedido </span><span class="count">2</span>
                            </h4>
                            <p class="text-light">Lucas - Mesa 01</p>

                            <div class="chart-wrapper px-0" style="height:70px;text-align: center;" height="70">
                                <a class="details-order" href="#">
                                    <button type="button" class="btn btn-secondary mb-1" data-toggle="modal" data-target="#smallmodal">
                                        <span>Detalhes do pedido</span>
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card text-white bg-flat-color-3">
                        <div class="card-body pb-0">
                            <div class="dropdown float-right">
                                <button class="btn bg-transparent dropdown-toggle theme-toggle text-light" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                                    <i class="fa fa-cog"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <div class="dropdown-menu-content">
                                        <a class="dropdown-item" href="#">Atendido</a>
                                        <a class="dropdown-item" href="#">Cancelar</a>
                                    </div>
                                </div>
                            </div>
                            <h4 class="mb-0">
                                <span>Pedido </span><span class="count">3</span>
                            </h4>
                            <p class="text-light">Lucas - Mesa 01</p>

                            <div class="chart-wrapper px-0" style="height:70px;text-align: center;" height="70">
                                <a class="details-order" href="#">
                                    <button type="button" class="btn btn-secondary mb-1" data-toggle="modal" data-target="#smallmodal">
                                        <span>Detalhes do pedido</span>
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card text-white bg-flat-color-4">
                    <div class="card-body pb-0">
                        <div class="dropdown float-right">
                            <button class="btn bg-transparent dropdown-toggle theme-toggle text-light" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                                <i class="fa fa-cog"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <div class="dropdown-menu-content">
                                    <a class="dropdown-item" href="#">Atendido</a>
                                    <a class="dropdown-item" href="#">Cancelar</a>
                                </div>
                            </div>
                        </div>
                        <h4 class="mb-0">
                            <span>Pedido </span><span class="count">4</span>
                        </h4>
                        <p class="text-light">Lucas - Mesa 01</p>

                        <div class="chart-wrapper px-0" style="height:70px;text-align: center;" height="70">
                            <a class="details-order" href="#">
                                <button type="button" class="btn btn-secondary mb-1" data-toggle="modal" data-target="#smallmodal">
                                    <span>Detalhes do pedido</span>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- .content -->
        <div class="content mt-3">
            <div class="add-order">
                <a id="button-add" data-toggle="modal" data-target="#mediumModal" href=""><span class="ti-plus"></span></a>
            </div>
        </div>
{% endblock %}