{% load static %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Itadakimasu - Restaurante de comida japonesa</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png' %}">
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="{% static 'assets/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/cs-skin-elastic.css' %}">
    <link rel="stylesheet" href="{% static 'assets/scss/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/lucas-style.css' %}">
    <link href="{% static 'assets/css/lib/vector-map/jqvmap.min.css' %}" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
</head>
<body>


        <!-- Left Panel -->

    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="index.html"><img src="{% static 'assets/images/itada.png' %}"></a>
                <a class="navbar-brand hidden" href="index.html"><img src="{% static 'assets/images/itada2.png' %}"></a>
            </div>

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="index.html"> <i class="menu-icon fa fa-dashboard"></i>Painel </a>
                    </li>
                    <h3 class="menu-title">Telas</h3>
                    <li class="item-menu">
                        <a href="index.html"><i class="menu-icon fa fa-th"></i>Pedidos</a>
                    </li>
                    <li class="item-menu">
                        <a href="{% url 'products' %}"> <i class="menu-icon fa fa-cutlery"></i>Produtos</a>
                    </li>
                    <li class="item-menu">
                        <a href="estoque.html"> <i class="menu-icon fa fa-truck"></i>Estoque</a>
                    </li>
                    <li class="item-menu">
                        <a href="./usuario.html"> <i class="menu-icon fa fa-group"></i>Usuário</a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->

    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">

            <div class="header-menu">

                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                </div>

                <div class="col-sm-5">
                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="user-avatar rounded-circle" src="{% static 'assets/images/admin.jpg' %}" alt="User Avatar">
                        </a>

                        <div class="user-menu dropdown-menu">
                                <a class="nav-link" href="#"><i class="fa fa- user"></i>Meu Perfil</a>

                                <a class="nav-link" href="#"><i class="fa fa -cog"></i>Configurações</a>

                                <a class="nav-link" href="#"><i class="fa fa-power -off"></i>Sair</a>
                        </div>
                    </div>

                </div>
            </div>

        </header><!-- /header -->
        <!-- Header-->
        {% block conteudo %}{% endblock %}
    </div><!-- /#right-panel -->
    <!-- Modal descrição produto -->
<div class="modal fade" id="smallmodal" tabindex="-1" role="dialog" aria-labelledby="smallmodalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="smallmodalLabel">Produtos do pedido 1</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <h4>Tipo de pedido:</h4>
                                <p>
                                    - Local
                                </p>
                                <h4>Mesa</h4>
                                <p>
                                    01
                                </p>
                                <h4>Produtos:</h4>
                                <p>
                                    - 1 Coca cola 2L </br>
                                    - 5 Hot roll    </br>
                                    - 8 Sushi       </br>
                                    - 10 Sashimi    </br>
                                    - 1 Cerveja Skoll 600ML
                                </p>
                                <h4>Observação:</h4>
                                <p>
                                    Não colocar gengibre, cliente alérgico.
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                <button type="button" class="btn btn-primary">Atendido</button>
                            </div>
                        </div>
                    </div>
                </div>
<!-- Modal add produto -->
<div class="modal fade" id="mediumModal" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="mediumModalLabel">Add produto</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>
                                    <div class="card">
                                      <div class="card-header">
                                        <strong>Pedidos </strong>- Itadakimasu
                                      </div>
                                      <div class="card-body card-block">
                                        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                                          <div class="row form-group">
                                            <div class="col col-md-3"><label for="text-input" class=" form-control-label">Cliente: </label></div>
                                            <div class="col-12 col-md-9"><input type="text" id="text-input" name="text-input" placeholder="Cliente" class="form-control"><small class="form-text text-muted">Nome do cliente</small></div>
                                          </div>
                                          <div class="row form-group">
                                            <div class="col col-md-3"><label for="text-input" class=" form-control-label">Mesa: </label></div>
                                            <div class="col-12 col-md-9"><input type="text" id="text-input" name="text-input" placeholder="Mesa" class="form-control"><small class="form-text text-muted">Digite o numero da mesa. (caso seja para viagem deixar em branco).</small></div>
                                          </div>
                                         <div class="row form-group">
                                            <div class="col col-md-3"><label class=" form-control-label">Pedido: </label></div>
                                            <div class="col col-md-9">
                                              <div class="form-check">
                                                <div class="radio">
                                                  <label for="radio1" class="form-check-label ">
                                                    <input type="radio" id="radio1" name="radios" value="option1" class="form-check-input">Local
                                                  </label>
                                                </div>
                                                <div class="radio">
                                                  <label for="radio2" class="form-check-label ">
                                                    <input type="radio" id="radio2" name="radios" value="option2" class="form-check-input">Viagem
                                                  </label>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="row form-group">
                                            <div class="col col-md-3"><label class=" form-control-label">Produtos</label></div>
                                            <div class="col col-md-9">
                                              <div class="form-check-inline form-check">
                                                <label for="inline-checkbox1" class="form-check-label ">
                                                  <input type="checkbox" id="inline-checkbox1" name="inline-checkbox1" value="option1" class="form-check-input">Combinado 20 peças
                                                </label>
                                                <label for="inline-checkbox2" class="form-check-label ">
                                                  <input type="checkbox" id="inline-checkbox2" name="inline-checkbox2" value="option2" class="form-check-input">Combinado 40 peças
                                                </label>
                                                <label for="inline-checkbox3" class="form-check-label ">
                                                  <input type="checkbox" id="inline-checkbox3" name="inline-checkbox3" value="option3" class="form-check-input">Combinado 60 peças
                                                </label>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="row form-group">
                                            <div class="col col-md-3"><label for="textarea-input" class=" form-control-label">Observação</label></div>
                                            <div class="col-12 col-md-9"><textarea name="textarea-input" id="textarea-input" rows="9" placeholder="Observação do cliente" class="form-control"></textarea></div>
                                          </div>
                                        </form>
                                      </div>
                                    </div>
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                <button type="button" class="btn btn-primary">Adicionar</button>
                            </div>
                        </div>
                    </div>
                </div>

    <!-- Right Panel -->

    <script src="{% static 'assets/js/vendor/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>


    <script src="{% static 'assets/js/lib/chart-js/Chart.bundle.js' %}"></script>
    <script src="{% static 'assets/js/dashboard.js' %}"></script>
    <script src="{% static 'assets/js/widgets.js' %}"></script>
    <script src="{% static 'assets/js/lib/vector-map/jquery.vmap.js' %}"></script>
    <script src="{% static 'assets/js/lib/vector-map/jquery.vmap.min.js' %}"></script>
    <script src="{% static 'assets/js/lib/vector-map/jquery.vmap.sampledata.js' %}"></script>
    <script src="{% static 'assets/js/lib/vector-map/country/jquery.vmap.world.js' %}"></script>
    <script>
        ( function ( $ ) {
            "use strict";

            jQuery( '#vmap' ).vectorMap( {
                map: 'world_en',
                backgroundColor: null,
                color: '#ffffff',
                hoverOpacity: 0.7,
                selectedColor: '#1de9b6',
                enableZoom: true,
                showTooltip: true,
                values: sample_data,
                scaleColors: [ '#1de9b6', '#03a9f5' ],
                normalizeFunction: 'polynomial'
            } );
        } )( jQuery );
    </script>

</body>
</html>